<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script
      src="{% static 'realest/jquery-3.6.4.min.js' %}"
      type="text/javascript"
    ></script>

    <title>{{ head }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'realest/style.css' %}" />
  </head>
  <body>
    <nav class="sidebar bg-dark">
      <center>
        <img
          src="{% static 'realest/logo.png' %}"
          class="bg-white p-3 rounded shadow-lg mt-3"
          width="170px"
        />
      </center>
      <hr />
      <div class="p-0">
        <ul class="menu-sidebar fs-5 p-0 text-light">
          <li
            class="ps-2 fs-5 li py-1 text-black"
            
          >
            <a href="/" class="text-decoration-none text-white"
              ><i class="fa fa-home" aria-hidden="true"></i>
              <span class="s-txt fw-bold ps-2" style="font-size: 18px"
                >Home</span
              ></a
            >
          </li>

          <li
            class="ps-2 fs-5 li py-1 "
            
          >
            <a href="/agent/dashboard" class="text-decoration-none text-white"
              ><i
                class="fa fa-tachometer pe-1"
                
                aria-hidden="true"
              ></i
              ><span class="s-txt fw-bold ps-2" style="font-size: 18px"
                >Dashboard</span
              ></a
            >
          </li>

          <li class="nav-link li" style="background-color: rgb(233, 236, 239)">
            <button
              class="btn btn-toggle d-block align-items-center rounded border-0 collapsed text-black fw-normal"
              data-bs-toggle="collapse"
              data-bs-target="#home-collapse"
              aria-expanded="false"
            >
              <i class="fa fa-plus" aria-hidden="true"></i
              ><span class="s-txt ps-3 fw-bold" style="font-size: 18px"
                >Add Property</span
              >
            </button>
            <div class="collapse under" id="home-collapse">
              <div class="text-left">
                <ul
                  class="list-unstyled fw-normal pb-1 small mt-2 text-left lh-3 mx-4"
                  style="text-align: left; font-size: 15px"
                >
                  <li class="text-left fw-normal text-white my-1">
                    <a
                      href="residential"
                      class="text-decoration-none text-light"
                      >Residential</a
                    >
                  </li>
                  <li class="text-left fw-normal text-white my-1">
                    <a href="commercial" class="text-decoration-none text-light"
                      >Commercial</a
                    >
                  </li>
                  <li class="text-left fw-normal text-white my-1">
                    <a href="land" class="text-decoration-none text-light"
                      >Land</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <main class="main-content bg-body-secondary vh-100">
      <div class="text-center text-grey pt-3 py-4">
        <h1>{{ head }}</h1>
      </div>
      <div>
        <div class="rounded d-flex justify-content-center">
          <form method="post" action="onland?user={{ user.username }}" style="align-self: center;display: block;width:95%;" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="number" name="area" class="form-control w-100 my-1 " placeholder="area (foot)" />
      
            <input type="number" name="price" class="form-control w-100 my-1" placeholder="Price" />
            
            <input type="text" name="location" class="form-control w-100 my-1" placeholder="Location" />
     
            <textarea type="text" class="form-control w-100 text-left my-1" placeholder="Description" name="desc" style="height: 100px; overflow-y: scroll"
            ></textarea>

            <div class="btn-group my-2 d-block" role="group" id="corporate" aria-label="Basic radio toggle button group" >
              <input type="radio" class="btn-check" name="type" id="btnradio5" value="Evergreen" autocomplete="off" checked />

              <label class="btn btn-outline-primary" for="btnradio5" >Evergreen</label >

              <input type="radio" class="btn-check" name="type" id="btnradio6" value="Fertile" autocomplete="off"/>

                <label class="btn btn-outline-primary" for="btnradio6" >Fertile</label>

              <input type="radio" class="btn-check" name="type" id="btnradio7" value="Non-Fertile" autocomplete="off" />

                <label class="btn btn-outline-primary" for="btnradio7" >Non-Fertile</label >

              <input type="radio" class="btn-check" name="type" id="btnradio8" value="Dry" autocomplete="off" />

                <label class="btn btn-outline-primary" for="btnradio8">Dry</label>

            </div>

            <input type="file" name="img" class="form-control w-100 my-2"/>
            <div class="btn-group my-2" role="group" aria-label="Basic radio toggle button group" >

                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="sell" autocomplete="off" checked />

                <label class="btn btn-outline-primary" for="btnradio1"
                  >Sell</label
                >

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="rent" autocomplete="off" />
                <label class="btn btn-outline-primary" for="btnradio2"
                  >Rent</label>
              </div>
              <br/>
              <span class="d-flex justify-content-center">

              <button type="submit" name="submit" class="btn text-light btn-success rounded-pill w-75  p-3">
              Post
            </button>
            </span>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
